.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Modal img {
    width: 100px;
    height: 100px;
}

.Modal h4 {
    margin: 15px 0 0 0 ;
}

.Modal i {
    margin-bottom: 15px;
}

.Modal button {
    color: #fff;
    background: #ee472e;
    padding: 5px 10px;
    border: 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 16px;
}

.editButton {
    text-decoration: none;
    background: #299c5d;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    text-transform: uppercase;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}