.editPhoto {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.editPreview {
    width: 100px;
    height: 100px;
}

.editForm {
    border: 1px solid #000;
    padding: 15px;
    margin: 80px auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editForm input {
    width: 250px;
    height: 30px;
    font-size: 16px;
    outline: none;
    margin-bottom: 15px;
}

.editForm h1 {
    text-transform: uppercase;
}

.editForm button {
    background: #3e9ad3;
    padding: 5px 10px;
    color: #fff;
    border: 0;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 10px;
    outline: none;
}

.editForm button:hover {
    cursor: pointer;
}

.editForm label {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 16px;
}

.back {
    background: #299c5d;
    color: #fff;
    padding: 5px 10px;
    border: 0;
    border-radius: 8px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
}