.contact {
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

.contact img {
    width: 100px;
    height: 100px;
}
.contact p {
    margin-top: 40px;
}

.contact button {
    height: 30px;
    margin-top: 35px;
    border: 0;
    background: #3e9ad3;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}