.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #292c2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
    padding-top: 35px;
}

.link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    margin-right: 15px;
}

.link:hover {
    color: #3e9ad3;
}